@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAE04B;
    font-family:'Montserrat', sans-serif;
}

.container {
    /* background-color: aqua; */
    width: 95vw;
    height: 80vh;
    margin: 25px;
}

.title .big {
    text-align: center;
    font-size: 4em;
}

.category {
    margin-top: 40px;
    /* background-color: red; */
    height:56px;
    width:100%;
}
.ctg-btn {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    transition: 1s all ease;
}

.ctg-btn .little a{
    height:52px;
    width: 165px;
    background-color:rgba(255, 255, 255,.8);
    text-align:center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 3px solid #FAE04B;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:center;
    box-shadow: 0 3px 5px 2px #D7BB1E;
    text-decoration: none;
    color: black;
    position: relative;

}

.ctg-btn .little a:active{
    top: 2px;
    box-shadow: inset 0 3px 5px 2px #D7BB1E;
    transition: 0.3s all ease;
}
.ctg-btn .active a{
    background-color:black;
    color: white;
}
